.drop-canvas-wrap {
  display: grid;
  place-items: start center;
  background-color: #282828;
  padding-top: 26px;
}
.drop-canvas {
  width: 595px;
  height:  842px;
  border: 1px solid #999;
  color: #333;
  background-color: #fff;
}