.attrs-bar {
  display: grid;
  grid-template-columns: 1fr max-content;
  place-items: center start;
  height: 68px;
  .icon-checkbox {
    padding: 4px;
  }
  .checked {
    background-color: #383838;
  }
}
.attrs-bar .attrs {
  color: #fff
}